# Backend API URL
VITE_SERVER_URL=https://api.example.com/api/v1
VITE_INTERNAL_SERVER_URL=http://host.docker.internal:8020/api/v1

VITE_APP_URL=https://admin.example.com  # Use this in production

# Environment
NODE_ENV=development